{{ define "main" }}
<article style="padding-left: 0 !important; padding-right: 0 !important;" class="max-w-3xl mx-auto px-1 py-10 text-justify">

    <header class="mb-10 text-center">
        <h1 style="font-size: 3rem;" class="font-extrabold">{{ .Title }}</h1>
    </header>

    

    <hr class="border-gray-300 mb-0">
    
  {{ $enableToc := or (.Params.showTableOfContents) (site.Params.article.showTableOfContents) | default false }}
  {{ if and $enableToc (in .TableOfContents "<ul") }}
    <nav class="mb-2 border-b border-gray-300 pb-4 dark:border-neutral-600 prose mx-auto text-justify">
      {{ .TableOfContents | safeHTML }}
    </nav>
  {{ end }}

  

  <hr class="border-gray-300 mb-6">

  <section class="prose dark:prose-invert mx-auto px-0">
    {{ .Content }}
  </section>

  <section class="blog-list prose mx-auto px-0">
    {{ range where .Site.RegularPages "Section" "blogs" }}
      <article class="mb-4 pb-2 border-b border-gray-300">
        <h2 class="text-2xl font-semibold mb-1">
          <a href="{{ .RelPermalink }}" class="hover:underline">
            {{ .Title }}
          </a>
        </h2>
        <p class="text-xs text-gray-500 mb-2">
          {{ if or (.Params.showDate) (site.Params.article.showDate) }}
            <span>{{ .Date.Format "2 Jan 2006" }}</span>
          {{ end }}
        
          {{ if or (.Params.showReadingTime) (site.Params.article.showReadingTime) }}
            · <span>{{ .ReadingTime }} min read</span>
          {{ end }}
        
          {{ if or (.Params.showWordCount) (site.Params.article.showWordCount) }}
            · <span>{{ .WordCount }} words</span>
          {{ end }}
        </p>
        <p class="mb-1 text-sm text-gray-600">
          {{ with .Params.description }}
            {{ . }}
          {{ else }}
            {{ .Summary }}
          {{ end }}
        </p>

        {{ if .Params.tags }}
        <p>
          Tags:
          {{ range $index, $tag := .Params.tags }}
          <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}" style="margin-right:8px; color:#3490dc;">#{{ $tag }}</a>
          {{ end }}
        </p>
        {{ end }}

      </article>
    {{ else }}
      <p>No blog posts found.</p>
    {{ end }}
  </section>
</article>



<style>
    /* Override default blue for links in ToC to match theme */
    nav.prose a {
      color: whitesmoke; /* Use inherited text color */
      text-decoration: underline; /* Optional: keep underline for links */
    }
  
    /* Center list items inside ToC */
    nav.prose ul {
      display: inline-block;
      text-align: left; /* keep links left aligned inside centered container */
    }
</style>

{{ end }}
